@use "../common/typography";
@use "../common/variables";
@use "../base/mixins";
// Base
// —————————————————————————————————

html,
body {
  overflow: hidden;
}

.title-bar-grab {
  height: 12px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  -webkit-app-region: drag;
  // we add margin so that the search is clickable
  left: variables.$app-size;
  margin-right: 160px;

  .l-fullscreen & { display: none }
}

.l-container {
  user-select: none;
  display: flex;
  flex-direction: column;
  z-index: variables.$zindex-small;
  @include mixins.coverer();
}
.l-appcontainer {
  display: flex;
  flex: 1 1 auto;
  position: relative;
  height: 100%;
}

.l-overlay {
  // opacity: 0.9;
  z-index: variables.$zindex-ultra;
  @include mixins.coverer-fixed(0, variables.$app-size, 0, 0);

  &.l-overlay--search {
    z-index: 119;
  }
  //== Children
  &:before {
    background-color: rgba(#000, 0.2);
    content: "";
    @include mixins.coverer();
  }
}
// .e-blur {
//   .l-webview {
//     filter: blur(4px);
//   }
// }

//== Margins
.l-ma { margin: variables.$gutter; }
.l-mb { margin-bottom: variables.$gutter; }
.l-ml { margin-left: variables.$gutter; }
.l-mr { margin-right: variables.$gutter; }
.l-mt { margin-top: variables.$gutter; }
.l-hma { margin: (variables.$gutter * 0.5); }
.l-hmb { margin-bottom: (variables.$gutter * 0.5); }
.l-hml { margin-left: (variables.$gutter * 0.5); }
.l-hmr { margin-right: (variables.$gutter * 0.5); }
.l-hmt { margin-top: (variables.$gutter * 0.5); }
.l-dma { margin: (variables.$gutter * 2); }
.l-dmb { margin-bottom: (variables.$gutter * 2); }
.l-dml { margin-left: (variables.$gutter * 2); }
.l-dmr { margin-right: (variables.$gutter * 2); }
.l-dmt { margin-top: (variables.$gutter * 2); }
.l-nm { margin: 0; }
.l-nmb { margin-bottom: 0; }
.l-nml { margin-left: 0; }
.l-nmr { margin-right: 0; }
.l-nmt { margin-top: 0; }

//== Paddings
.l-pa { padding: variables.$gutter; }
.l-pb { padding-bottom: variables.$gutter; }
.l-pl { padding-left: variables.$gutter; }
.l-pr { padding-right: variables.$gutter; }
.l-pt { padding-top: variables.$gutter; }
.l-hpa { padding: (variables.$gutter * 0.5); }
.l-hpb { padding-bottom: (variables.$gutter * 0.5); }
.l-hpl { padding-left: (variables.$gutter * 0.5); }
.l-hpr { padding-right: (variables.$gutter * 0.5); }
.l-hpt { padding-top: (variables.$gutter * 0.5); }
.l-dpa { padding: (variables.$gutter * 2); }
.l-dpb { padding-bottom: (variables.$gutter * 2); }
.l-dpl { padding-left: (variables.$gutter * 2); }
.l-dpr { padding-right: (variables.$gutter * 2); }
.l-dpt { padding-top: (variables.$gutter * 2); }
.l-np { padding: 0; }
.l-npb { padding-bottom: 0; }
.l-npl { padding-left: 0; }
.l-npr { padding-right: 0; }
.l-npt { padding-top: 0; }

//== Cursors
.cursor-default { cursor: default }
.cursor-wait { cursor: wait }
