@use "../common/variables";
@use "../base/mixins";
@use "../common/typography";
// Notifications
// —————————————————————————————————

.l-notification {
  background-color: #fff;
  border-radius: variables.$border-radius;
  box-shadow: 0 1px 6px rgba(#000, 0.4);
  color: #000;
  display: none;
  line-height: 1.6em;
  padding: (variables.$gutter * 2);
  position: fixed;
  right: (variables.$gutter * 2);
  text-align: center;
  top: (variables.$gutter * 2);
  width: 300px;
  z-index: 1000;
  @include typography.font(14px);

  //== Children
  a {
    background-color: rgba(#000, 0.05);
    border-top: 1px solid rgba(#000, 0.1);
    display: block;
    line-height: 1.1em;
    margin: (variables.$gutter * 2) (-(variables.$gutter * 2)) (-(variables.$gutter * 2));
    padding: variables.$gutter;
    text-align: center;
    @include typography.font(13px, 600);
  }

  //== Variants
  &.show {
    display: block;
  }
}
